* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background-color: black;
}

h1{
    color: white;
    text-align: center;

}
h2{
    color: white;
    text-align: center;

}

